<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jenya.studentachievements">

    <application
        android:icon="@drawable/sfu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sfu"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppThemeDark"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.GradeActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.FavoritesActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity
            android:name=".activities.SearchResultsActivity"/>
        <activity
            android:name=".activities.OtherProfileActivity" />
        <activity
            android:name=".activities.AuthActivity"
            android:noHistory="true" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>